{
    "goecoder_api_key_list": ["AIzaSyCrgwS_L75NfO9qzIKG8L0ox7zGw81BpRU" ,"AIzaSyBwh4WqOIVJGJuKkmzpQxlkjahgx6qzimk","AIzaSyA25LW2CRcD9mSmiAWBYSPOSoiKP_m2plQ", "AIzaSyB3l2Trzm4LnrC0nyUwwoM9803Fuwf0my4", "AIzaSyDj0yH_35G1zMq5uYPF6X0ogkHYcLsNN1w", "AIzaSyADO1wlwWDW-XaNwQ-p50Q3yMRxtRascdU"],
    "distance_api_key_list": ["AIzaSyDJh9EWCA_v0_B3SvjzjUA3OSVYufPJeGE", "AIzaSyCwIBKkWAkAcPjpO840fGPc1vnmK7h2UnY", "AIzaSyBrYcGsb8kIlIfa011bSbVF8X4NueqzZBo", "AIzaSyBI3vgFNrG5q_PuY2HcXQUsoV1Zcz5aMJk", "AIzaSyCT26k-6c_OKIDm6a68Gb9VtGMHvgYTtr0", "AIzaSyD8ctihvgUk075lMtW0T2Ath3Q9FI8P6Jo","AIzaSyCD8E7OLcsHZLXnhZuh7a3POC1Vh4OeD_w"],
    "conn_str": "dbname='travel_with_friends' user='zoesh' host='localhost'",
    "engine":"postgresql://zoesh@localhost:5432/travel_with_friends",
    "ip_location": "359263af1b8a0a7c1d725ec86751962cc8801f6a",
}